body {
    margin: 0;
    font-family: Arial, sans-serif;
}

nav {
    background-color: black;
    color: white;
    padding: 15px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav h1 {
    margin: 0;
}

nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    margin-left: 20px;
}
section {
    height: 100vh;
    background-image: url('https://images.unsplash.com/photo-1619767886558-efdc259cde1a');
    background-size: cover;
    background-position: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
section h2 {
    font-size: 50px;
    margin: 0;
}

section p {
    font-size: 20px;
    margin-bottom: 20px;
}
.buttons {
    display: flex;
    gap: 20px;
}

button {
    padding: 12px 30px;
    border: none;
    font-size: 14px;
    cursor: pointer;
}

.btn-dark {
    background-color: black;
    color: white;
}

.btn-light {
    background-color: white;
    color: black;
}